In [ ]:
#Load libraries

import pandas as pd
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
weather = pd.read_csv("weather.csv")
rides = pd.read_csv("rides.csv")

rides.head()

   distance cab_type  ...    product_id          name
0      0.44     Lyft  ...     lyft_line        Shared
1      0.44     Lyft  ...  lyft_premier           Lux
2      0.44     Lyft  ...          lyft          Lyft
3      0.44     Lyft  ...   lyft_luxsuv  Lux Black XL
4      0.44     Lyft  ...     lyft_plus       Lyft XL

[5 rows x 10 columns]

702683.75

In [ ]:
weather.head()

    temp            location  clouds  ...  time_stamp  humidity   wind
0  42.42            Back Bay     1.0  ...  1545003901      0.77  11.25
1  42.43         Beacon Hill     1.0  ...  1545003901      0.76  11.32
2  42.50   Boston University     1.0  ...  1545003901      0.76  11.07
3  42.11              Fenway     1.0  ...  1545003901      0.77  11.09
4  43.13  Financial District     1.0  ...  1545003901      0.75  11.49

[5 rows x 8 columns]

In [ ]:
%sql DROP TABLE if EXISTS weather;
%sql DROP TABLE if EXISTS rides;

%sql PERSIST weather;
%sql PERSIST rides;

 * sqlite://
Done.
 * sqlite://
Done.
 * sqlite://
 * sqlite://

'Persisted rides'

In [ ]:
#The most popular taxi ride?
%%sql

SELECT cab_type, COUNT(product_id) FROM rides
group by cab_type
ORDER BY COUNT(product_id) DESC;

 * sqlite://
Done.

[('Uber', 18255), ('Lyft', 15128)]

In [ ]:
#Does the weather affect the price of rides? NO DATA THAT INTERSECTS
%%sql
SELECT *
FROM weather, rides
WHERE weather.time_stamp = rides.time_stamp
LIMIT 5;

 * sqlite://
Done.

[]

In [44]:
#What is the most popular destination?
%%sql

select destination, count(destination)from rides
group by destination
order by count(destination) DESC;

 * sqlite://
Done.

[('Northeastern University', 2933),
 ('Haymarket Square', 2920),
 ('North End', 2904),
 ('Theatre District', 2895),
 ('Fenway', 2885),
 ('Beacon Hill', 2834),
 ('Boston University', 2752),
 ('Back Bay', 2741),
 ('West End', 2691),
 ('North Station', 2689),
 ('Financial District', 2651),
 ('South Station', 2488),
 ('Northeastern Unive', 1)]

In [ ]:
#What's the avg price per distance?
%%sql

SELECT SUM(distance)/ SUM(price) As 'Price per distance'
from rides

 * sqlite://
Done.

[(0.14269872213524173,)]